*,
html {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: whitesmoke;
}
.navbar-container {
    background-color: orangered;
}
.ul-navbar {
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
}
.li-classnavbar {
    border: 1px solid white;
    background-color: coral;
    list-style-type: none;
    padding: 15px;
    margin: 15px;
    color: antiquewhite;
}
.li-classnavbar:hover {
    background-color: gray;
    transition: .5s ease-in-out;
    transition-delay: .3s;
}
.a-navbar {
    color: whitesmoke;
    text-decoration: none;
}
.me-navbar {
    color: whitesmoke;
    text-decoration: none;
}
.container-content {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
} 
.img-content {
    background-color: black;
    width: 400px;
    height: 480px;
    border-radius: 100px;
    box-sizing: border-box;
}
.pe {
    list-style-type: none;

}
.container-footer {
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h1-footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h2-footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}